<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cart</title>
    <link
      href="https://fonts.googleapis.com/css?family=Titillium+Web:200,400,700"
      rel="stylesheet"
    />
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <body>
      <div id="app">
        {{ cart }}
        <nav>
          <ul>
            <li><a href="/" title="Products">Products</a></li>
            <li>
              <a href="/cart" title="Cart">Cart</a>({{ cart.totalQuantity }})
            </li>
          </ul>
        </nav>
        <header>
          <h1>Cart</h1>
        </header>
        <div class="container">
          <section v-for="(product, productId) in cart.items" class="cart">
            <h2>{{ product.name }}</h2>
            <p>Price: {{ product.price + ' ' + product.currency}}</p>
            <p>In Stock: {{ product.stockCount }} items</p>

            <p>Stock count: {{product.stockCount}}</p>
            <p>
              In Cart: {{cart.items[product.id] ?
              cart.items[product.id].quantity : 0}}
            </p>
            <button v-on:click="removeQuantity(product)">-</button>
          </section>
          <!-- use public/products.js to populate the html -->
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="https://unpkg.com/vuex"></script>
      <script src="products.js"></script>
      <script src="main.js"></script>
    </body>
  </body>
</html>
