/* Basic styling for UI */
* {
  box-sizing: border-box;
}

body {
  font: 16px "Titillium Web", sans-serif;
  margin: 0;
}

img {
  width: 100%;
  border-radius: 3px;
}

nav {
  background: #6233c0;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  flex-grow: 1;
}

nav ul li a {
  text-align: center;
  color: #fff;
  padding: 0.5em;
  display: block;
  text-transform: uppercase;
}

nav ul li a.active {
  background: #6233c0;
}

nav ul li a:hover {
  background: #aa80ff;
  color: #000;
  font-weight: 500;
}

header h1 {
  text-align: center;
  color: #777380;
  font-weight: 300;
  font-size: 35px;
  padding-top: 80px;
}

h2 {
  font-size: 25px;
  font-weight: lighter;
}

figure {
  margin: 0;
}

/* Application styles */

/* Products */
.product {
  max-height: 100%;
  box-shadow: 0px 5px 10px rgba(138, 136, 136, 0.74);
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product:hover {
  border: 0.5px solid #7d7c80a1;
}

.container {
  display: grid;
  grid-gap: 32px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 22px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.headline {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.add-product-btn {
  width: 100%;
  height: 43px;
  border: none;
  border-radius: 3px;
  background: #373d3d;
  font-size: 1.1em;
  color: white;
  outline: none;
}

.add-product-btn:hover {
  background: #373d3da8;
  cursor: pointer;
}

/* Cart */

.cart img {
  height: 40px;
  width: 40px;
}

.table td,
.table th {
  vertical-align: middle;
  border-top: none;
}

.modal-body p {
  font-weight: bold;
  font-size: 20px;
  text-align: right;
}

table button {
  cursor: pointer;
}
/* @media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
} */
